---
import { db } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import { Meal } from "astro:db";
import { eq } from "astro:db";

const mealId = Astro.params.id;

const [meal] = await db.select().from(Meal).where(eq(Meal.id, +mealId!));

if (!meal) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}

const { title, description, image, imageAlt } = meal;
---

<Layout title="Datail du plat">
  <h1>{title}</h1>
  <img src={image} alt={imageAlt} />
  <p class="paragraph">{description}</p>
</Layout>

<style>
  img {
    max-width: 320px;
    object-fit: cover;
    border-radius: 1.8rem;
  }
</style>
